.herotop {
  background: $primary;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;

  .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    h1 {
      font-size: 60pt;
    }

    p {
      width: 75%;
      text-align: center;
    }
  }

  .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      width: 75%;
    }
  }
}
